body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    overflow-x: hidden;


  }

  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    
}


.navbar {
    background-color:rgb(37, 37, 37);
    min-height: 80%;
    color:rgb(138, 138, 138);
    text-align: center;
    padding: 30px;
    font-size: 16px;
}


.header {
    background-color:rgb(37, 37, 37);
    text-align: center;
    padding: 30px;  

}

.footer {
    background-color:rgb(37, 37, 37);
    min-height: 60px;
    color:rgb(138, 138, 138);
    padding: 30px;
    font-size: 14px;
    text-align: center;
    
    
}

p {
    margin: 10px;
    padding: 5px;
  }

.btn-primary{
    
  color: rgb(255, 255, 255);
}

/* unvisited link */
a:link {
    color: rgb(170, 170, 170);
   

  }
  
  /* visited link */
  a:visited {
    color: rgb(189, 189, 189);
    
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(92, 146, 246);
    letter-spacing: 1px;
   
  }
  
  /* selected link */
  a:active {
    color: rgb(250, 250, 250);
  }

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

  }

  figure {
    
    float: right;
     border: 1px #353535 solid;
     padding: 4px;
     margin: auto;
   }
 
 figcaption {
   background-color: black;
   color: white;
   font-style: italic;
   font-size: 14px;
   padding: 2px;
   text-align: center;
 }

 blockquote {
    background: #d3d3d3;
    border-left: 10px solid rgb(138, 138, 138);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
  }

